﻿@{
    ViewBag.Title = "Home Page";
}
    <body background="~/Content/images/bg-2.jpg" style="background-repeat:no-repeat; background-size:cover;">
        <div class="jumbotron" style="background:none">
            <h1><b>Travelancar</b></h1>
            <p class="lead">Pesan tiket pesawat dan hotel </p>
            <p>lebih mudah dengan Travelancar</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Tiket Pesawat</h2>
                <p><a class="btn btn-default" style="background-color:#3390c9" href="https://go.microsoft.com/fwlink/?LinkId=301865">Pesan Tiket Pesawat &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <h2>Hotel</h2>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Pesan Kamar Hotel &raquo;</a></p>
            </div>
        </div>
    </body>
